body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  background: #bc2131;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.upload-form {
  margin: 0 auto;
  width: 40%;
}

a.voted {
  border: 2px solid #333;
}

img.detail-view-image {
  width: 100%;
}

.listed-image {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}

.detail-image {
  margin-right: 20px;
  padding: 15px;
}

.detail-info {
  background: none;
  margin-left: 58%;
}

a.tag span {
  color: #333;
}

a.tag:hover {
  text-decoration: none;
}

ul.tags-wrapper li {
  list-style-type: none;
  display: inline-block;
}

ul.tags-wrapper {
  padding: 0px;
}

a.btn-back {
  position: absolute;
  top: 100;
  left: 10%;
}

p.list-image-uploader {
  position: absolute;
  top: 1.5em;
  right: 3em;
  background-color: white;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid black;
}

a p.list-image-uploader:hover {
  background-color: #DEDEDE;
}

form .has-error p.help-block, form .has-error label.control-label {
  color: #fff;
}

form .has-error input.form-control {
  border: 2px solid orange;
  border-color: orange;
}
