body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  background: #bc2131;
  margin-top: 60px;
}

.upload-form {
  margin: 0 auto;
  width: 40%;
}

@media only screen and (min-width: 1024px) {
  .listed-image {
    max-height: 250px;
    max-width: 275px;
  }
}

@media only screen and (max-width: 1024px) {
  .listed-image {
  max-height: 150px;
  max-width: 200px;
  }
  p.index-uploader {
  display: none;
}
}

div.list-group {
  margin-top: 15px;
  position: relative;
}

a.vote-button, p.voting {
  position: absolute;
  right: -80px;
  top: 50%;
  margin-top: 20px;
}

p.voting {
  margin-top: -15px;
  right: -70px;
  font-size: 20px;
}

a.vote-button.btn-success {
  margin-top: -67px;
}

p.index-uploader {
  position: absolute;
  right: 20px;
  bottom: -90px;
}

a.voted {
  border: 2px solid #333;
}

img.detail-view-image {
  width: 100%;
}

.detail-image {
  margin-right: 20px;
  padding: 15px;
}

.detail-info {
  background: none;
  margin-left: 58%;
}

a.tag span {
  color: #333;
}

a.tag:hover {
  text-decoration: none;
}

ul.tags-wrapper li {
  list-style-type: none;
  display: inline-block;
}

ul.tags-wrapper {
  padding: 0px;
}

a.btn-back {
  position: absolute;
  top: 100;
  left: 10%;
}
